<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="custom-padding">
    <ion-toolbar>
      <ion-title size="large">Bullshit</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div class="cont">
      <ion-button expand="block" color="danger" (click)="authService.presentModal(0,'Create Room')">Create Room</ion-button>
      <ion-button expand="block" color="danger" (click)="authService.presentModal(1,'Join Room')">Join Room</ion-button>
    </div>
  </div>
</ion-content>
